<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Finanzas</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./fonts/hjicons/style.css">
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <div class="brand">
          <h2>HJ Burger</h2>
        </div>
        <div class="menu-wrap">
          <ul>
            <li><i class="hj-home"></i> Casa</li>
            <li><i class="hj-book-open"></i> Menu</li>
            <li><i class="hj-credit-card"></i> Recursos</li>
            <li><i class="hj-clock"></i> Horarios</li>
            <li><i class="hj-users"></i> Usuarios</li>
            <li><i class="hj-package"></i> Proveedores</li>
            <li><i class="hj-settings"></i> Configuración</li>
            <li><i class="hj-log-out"></i> Salir</li>
          </ul>
        </div>
        <div class="current-user">

        </div>
      </div>
      <div class="content">
        <div class="header">
          <h2>HJ Burger</h2>
        </div>
        <div class="sections">

        </div>
      </div>
    </div>
  </body>
</html>
