@font-face {
  font-family: 'hjicons';
  src:  url('fonts/hjicons.eot?xxn5j');
  src:  url('fonts/hjicons.eot?xxn5j#iefix') format('embedded-opentype'),
    url('fonts/hjicons.ttf?xxn5j') format('truetype'),
    url('fonts/hjicons.woff?xxn5j') format('woff'),
    url('fonts/hjicons.svg?xxn5j#hjicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hj-"], [class*=" hj-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hjicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hj-activity:before {
  content: "\e900";
}
.hj-airplay:before {
  content: "\e901";
}
.hj-alert-circle:before {
  content: "\e902";
}
.hj-alert-octagon:before {
  content: "\e903";
}
.hj-alert-triangle:before {
  content: "\e904";
}
.hj-align-center:before {
  content: "\e905";
}
.hj-align-justify:before {
  content: "\e906";
}
.hj-align-left:before {
  content: "\e907";
}
.hj-align-right:before {
  content: "\e908";
}
.hj-anchor:before {
  content: "\e909";
}
.hj-aperture:before {
  content: "\e90a";
}
.hj-archive:before {
  content: "\e90b";
}
.hj-arrow-down:before {
  content: "\e90c";
}
.hj-arrow-down-circle:before {
  content: "\e90d";
}
.hj-arrow-down-left:before {
  content: "\e90e";
}
.hj-arrow-down-right:before {
  content: "\e90f";
}
.hj-arrow-left:before {
  content: "\e910";
}
.hj-arrow-left-circle:before {
  content: "\e911";
}
.hj-arrow-right:before {
  content: "\e912";
}
.hj-arrow-right-circle:before {
  content: "\e913";
}
.hj-arrow-up:before {
  content: "\e914";
}
.hj-arrow-up-circle:before {
  content: "\e915";
}
.hj-arrow-up-left:before {
  content: "\e916";
}
.hj-arrow-up-right:before {
  content: "\e917";
}
.hj-at-sign:before {
  content: "\e918";
}
.hj-award:before {
  content: "\e919";
}
.hj-bar-chart:before {
  content: "\e91a";
}
.hj-bar-chart-2:before {
  content: "\e91b";
}
.hj-battery:before {
  content: "\e91c";
}
.hj-battery-charging:before {
  content: "\e91d";
}
.hj-bell:before {
  content: "\e91e";
}
.hj-bell-off:before {
  content: "\e91f";
}
.hj-bluetooth:before {
  content: "\e920";
}
.hj-bold:before {
  content: "\e921";
}
.hj-book:before {
  content: "\e922";
}
.hj-book-open:before {
  content: "\e923";
}
.hj-bookmark:before {
  content: "\e924";
}
.hj-box:before {
  content: "\e925";
}
.hj-briefcase:before {
  content: "\e926";
}
.hj-calendar:before {
  content: "\e927";
}
.hj-camera:before {
  content: "\e928";
}
.hj-camera-off:before {
  content: "\e929";
}
.hj-cast:before {
  content: "\e92a";
}
.hj-check:before {
  content: "\e92b";
}
.hj-check-circle:before {
  content: "\e92c";
}
.hj-check-square:before {
  content: "\e92d";
}
.hj-chevron-down:before {
  content: "\e92e";
}
.hj-chevron-left:before {
  content: "\e92f";
}
.hj-chevron-right:before {
  content: "\e930";
}
.hj-chevron-up:before {
  content: "\e931";
}
.hj-chevrons-down:before {
  content: "\e932";
}
.hj-chevrons-left:before {
  content: "\e933";
}
.hj-chevrons-right:before {
  content: "\e934";
}
.hj-chevrons-up:before {
  content: "\e935";
}
.hj-chrome:before {
  content: "\e936";
}
.hj-circle:before {
  content: "\e937";
}
.hj-clipboard:before {
  content: "\e938";
}
.hj-clock:before {
  content: "\e939";
}
.hj-cloud:before {
  content: "\e93a";
}
.hj-cloud-drizzle:before {
  content: "\e93b";
}
.hj-cloud-lightning:before {
  content: "\e93c";
}
.hj-cloud-off:before {
  content: "\e93d";
}
.hj-cloud-rain:before {
  content: "\e93e";
}
.hj-cloud-snow:before {
  content: "\e93f";
}
.hj-code:before {
  content: "\e940";
}
.hj-codepen:before {
  content: "\e941";
}
.hj-codesandbox:before {
  content: "\e942";
}
.hj-coffee:before {
  content: "\e943";
}
.hj-columns:before {
  content: "\e944";
}
.hj-command:before {
  content: "\e945";
}
.hj-compass:before {
  content: "\e946";
}
.hj-copy:before {
  content: "\e947";
}
.hj-corner-down-left:before {
  content: "\e948";
}
.hj-corner-down-right:before {
  content: "\e949";
}
.hj-corner-left-down:before {
  content: "\e94a";
}
.hj-corner-left-up:before {
  content: "\e94b";
}
.hj-corner-right-down:before {
  content: "\e94c";
}
.hj-corner-right-up:before {
  content: "\e94d";
}
.hj-corner-up-left:before {
  content: "\e94e";
}
.hj-corner-up-right:before {
  content: "\e94f";
}
.hj-cpu:before {
  content: "\e950";
}
.hj-credit-card:before {
  content: "\e951";
}
.hj-crop:before {
  content: "\e952";
}
.hj-crosshair:before {
  content: "\e953";
}
.hj-database:before {
  content: "\e954";
}
.hj-delete:before {
  content: "\e955";
}
.hj-disc:before {
  content: "\e956";
}
.hj-dollar-sign:before {
  content: "\e957";
}
.hj-download:before {
  content: "\e958";
}
.hj-download-cloud:before {
  content: "\e959";
}
.hj-droplet:before {
  content: "\e95a";
}
.hj-edit:before {
  content: "\e95b";
}
.hj-edit-2:before {
  content: "\e95c";
}
.hj-edit-3:before {
  content: "\e95d";
}
.hj-external-link:before {
  content: "\e95e";
}
.hj-eye:before {
  content: "\e95f";
}
.hj-eye-off:before {
  content: "\e960";
}
.hj-facebook:before {
  content: "\e961";
}
.hj-fast-forward:before {
  content: "\e962";
}
.hj-feather:before {
  content: "\e963";
}
.hj-figma:before {
  content: "\e964";
}
.hj-file:before {
  content: "\e965";
}
.hj-file-minus:before {
  content: "\e966";
}
.hj-file-plus:before {
  content: "\e967";
}
.hj-file-text:before {
  content: "\e968";
}
.hj-film:before {
  content: "\e969";
}
.hj-filter:before {
  content: "\e96a";
}
.hj-flag:before {
  content: "\e96b";
}
.hj-folder:before {
  content: "\e96c";
}
.hj-folder-minus:before {
  content: "\e96d";
}
.hj-folder-plus:before {
  content: "\e96e";
}
.hj-framer:before {
  content: "\e96f";
}
.hj-frown:before {
  content: "\e970";
}
.hj-gift:before {
  content: "\e971";
}
.hj-git-branch:before {
  content: "\e972";
}
.hj-git-commit:before {
  content: "\e973";
}
.hj-git-merge:before {
  content: "\e974";
}
.hj-git-pull-request:before {
  content: "\e975";
}
.hj-github:before {
  content: "\e976";
}
.hj-gitlab:before {
  content: "\e977";
}
.hj-globe:before {
  content: "\e978";
}
.hj-grid:before {
  content: "\e979";
}
.hj-hard-drive:before {
  content: "\e97a";
}
.hj-hash:before {
  content: "\e97b";
}
.hj-headphones:before {
  content: "\e97c";
}
.hj-heart:before {
  content: "\e97d";
}
.hj-help-circle:before {
  content: "\e97e";
}
.hj-hexagon:before {
  content: "\e97f";
}
.hj-home:before {
  content: "\e980";
}
.hj-image:before {
  content: "\e981";
}
.hj-inbox:before {
  content: "\e982";
}
.hj-info:before {
  content: "\e983";
}
.hj-instagram:before {
  content: "\e984";
}
.hj-italic:before {
  content: "\e985";
}
.hj-key:before {
  content: "\e986";
}
.hj-layers:before {
  content: "\e987";
}
.hj-layout:before {
  content: "\e988";
}
.hj-life-buoy:before {
  content: "\e989";
}
.hj-link:before {
  content: "\e98a";
}
.hj-link-2:before {
  content: "\e98b";
}
.hj-linkedin:before {
  content: "\e98c";
}
.hj-list:before {
  content: "\e98d";
}
.hj-loader:before {
  content: "\e98e";
}
.hj-lock:before {
  content: "\e98f";
}
.hj-log-in:before {
  content: "\e990";
}
.hj-log-out:before {
  content: "\e991";
}
.hj-mail:before {
  content: "\e992";
}
.hj-map:before {
  content: "\e993";
}
.hj-map-pin:before {
  content: "\e994";
}
.hj-maximize:before {
  content: "\e995";
}
.hj-maximize-2:before {
  content: "\e996";
}
.hj-meh:before {
  content: "\e997";
}
.hj-menu:before {
  content: "\e998";
}
.hj-message-circle:before {
  content: "\e999";
}
.hj-message-square:before {
  content: "\e99a";
}
.hj-mic:before {
  content: "\e99b";
}
.hj-mic-off:before {
  content: "\e99c";
}
.hj-minimize:before {
  content: "\e99d";
}
.hj-minimize-2:before {
  content: "\e99e";
}
.hj-minus:before {
  content: "\e99f";
}
.hj-minus-circle:before {
  content: "\e9a0";
}
.hj-minus-square:before {
  content: "\e9a1";
}
.hj-monitor:before {
  content: "\e9a2";
}
.hj-moon:before {
  content: "\e9a3";
}
.hj-more-horizontal:before {
  content: "\e9a4";
}
.hj-more-vertical:before {
  content: "\e9a5";
}
.hj-mouse-pointer:before {
  content: "\e9a6";
}
.hj-move:before {
  content: "\e9a7";
}
.hj-music:before {
  content: "\e9a8";
}
.hj-navigation:before {
  content: "\e9a9";
}
.hj-navigation-2:before {
  content: "\e9aa";
}
.hj-octagon:before {
  content: "\e9ab";
}
.hj-package:before {
  content: "\e9ac";
}
.hj-paperclip:before {
  content: "\e9ad";
}
.hj-pause:before {
  content: "\e9ae";
}
.hj-pause-circle:before {
  content: "\e9af";
}
.hj-pen-tool:before {
  content: "\e9b0";
}
.hj-percent:before {
  content: "\e9b1";
}
.hj-phone:before {
  content: "\e9b2";
}
.hj-phone-call:before {
  content: "\e9b3";
}
.hj-phone-forwarded:before {
  content: "\e9b4";
}
.hj-phone-incoming:before {
  content: "\e9b5";
}
.hj-phone-missed:before {
  content: "\e9b6";
}
.hj-phone-off:before {
  content: "\e9b7";
}
.hj-phone-outgoing:before {
  content: "\e9b8";
}
.hj-pie-chart:before {
  content: "\e9b9";
}
.hj-play:before {
  content: "\e9ba";
}
.hj-play-circle:before {
  content: "\e9bb";
}
.hj-plus:before {
  content: "\e9bc";
}
.hj-plus-circle:before {
  content: "\e9bd";
}
.hj-plus-square:before {
  content: "\e9be";
}
.hj-pocket:before {
  content: "\e9bf";
}
.hj-power:before {
  content: "\e9c0";
}
.hj-printer:before {
  content: "\e9c1";
}
.hj-radio:before {
  content: "\e9c2";
}
.hj-refresh-ccw:before {
  content: "\e9c3";
}
.hj-refresh-cw:before {
  content: "\e9c4";
}
.hj-repeat:before {
  content: "\e9c5";
}
.hj-rewind:before {
  content: "\e9c6";
}
.hj-rotate-ccw:before {
  content: "\e9c7";
}
.hj-rotate-cw:before {
  content: "\e9c8";
}
.hj-rss:before {
  content: "\e9c9";
}
.hj-save:before {
  content: "\e9ca";
}
.hj-scissors:before {
  content: "\e9cb";
}
.hj-search:before {
  content: "\e9cc";
}
.hj-send:before {
  content: "\e9cd";
}
.hj-server:before {
  content: "\e9ce";
}
.hj-settings:before {
  content: "\e9cf";
}
.hj-share:before {
  content: "\e9d0";
}
.hj-share-2:before {
  content: "\e9d1";
}
.hj-shield:before {
  content: "\e9d2";
}
.hj-shield-off:before {
  content: "\e9d3";
}
.hj-shopping-bag:before {
  content: "\e9d4";
}
.hj-shopping-cart:before {
  content: "\e9d5";
}
.hj-shuffle:before {
  content: "\e9d6";
}
.hj-sidebar:before {
  content: "\e9d7";
}
.hj-skip-back:before {
  content: "\e9d8";
}
.hj-skip-forward:before {
  content: "\e9d9";
}
.hj-slack:before {
  content: "\e9da";
}
.hj-slash:before {
  content: "\e9db";
}
.hj-sliders:before {
  content: "\e9dc";
}
.hj-smartphone:before {
  content: "\e9dd";
}
.hj-smile:before {
  content: "\e9de";
}
.hj-speaker:before {
  content: "\e9df";
}
.hj-square:before {
  content: "\e9e0";
}
.hj-star:before {
  content: "\e9e1";
}
.hj-stop-circle:before {
  content: "\e9e2";
}
.hj-sun:before {
  content: "\e9e3";
}
.hj-sunrise:before {
  content: "\e9e4";
}
.hj-sunset:before {
  content: "\e9e5";
}
.hj-tablet:before {
  content: "\e9e6";
}
.hj-tag:before {
  content: "\e9e7";
}
.hj-target:before {
  content: "\e9e8";
}
.hj-terminal:before {
  content: "\e9e9";
}
.hj-thermometer:before {
  content: "\e9ea";
}
.hj-thumbs-down:before {
  content: "\e9eb";
}
.hj-thumbs-up:before {
  content: "\e9ec";
}
.hj-toggle-left:before {
  content: "\e9ed";
}
.hj-toggle-right:before {
  content: "\e9ee";
}
.hj-tool:before {
  content: "\e9ef";
}
.hj-trash:before {
  content: "\e9f0";
}
.hj-trash-2:before {
  content: "\e9f1";
}
.hj-trello:before {
  content: "\e9f2";
}
.hj-trending-down:before {
  content: "\e9f3";
}
.hj-trending-up:before {
  content: "\e9f4";
}
.hj-triangle:before {
  content: "\e9f5";
}
.hj-truck:before {
  content: "\e9f6";
}
.hj-tv:before {
  content: "\e9f7";
}
.hj-twitch:before {
  content: "\e9f8";
}
.hj-twitter:before {
  content: "\e9f9";
}
.hj-type:before {
  content: "\e9fa";
}
.hj-umbrella:before {
  content: "\e9fb";
}
.hj-underline:before {
  content: "\e9fc";
}
.hj-unlock:before {
  content: "\e9fd";
}
.hj-upload:before {
  content: "\e9fe";
}
.hj-upload-cloud:before {
  content: "\e9ff";
}
.hj-user:before {
  content: "\ea00";
}
.hj-user-check:before {
  content: "\ea01";
}
.hj-user-minus:before {
  content: "\ea02";
}
.hj-user-plus:before {
  content: "\ea03";
}
.hj-user-x:before {
  content: "\ea04";
}
.hj-users:before {
  content: "\ea05";
}
.hj-video:before {
  content: "\ea06";
}
.hj-video-off:before {
  content: "\ea07";
}
.hj-voicemail:before {
  content: "\ea08";
}
.hj-volume:before {
  content: "\ea09";
}
.hj-volume-1:before {
  content: "\ea0a";
}
.hj-volume-2:before {
  content: "\ea0b";
}
.hj-volume-x:before {
  content: "\ea0c";
}
.hj-watch:before {
  content: "\ea0d";
}
.hj-wifi:before {
  content: "\ea0e";
}
.hj-wifi-off:before {
  content: "\ea0f";
}
.hj-wind:before {
  content: "\ea10";
}
.hj-x:before {
  content: "\ea11";
}
.hj-x-circle:before {
  content: "\ea12";
}
.hj-x-octagon:before {
  content: "\ea13";
}
.hj-x-square:before {
  content: "\ea14";
}
.hj-youtube:before {
  content: "\ea15";
}
.hj-zap:before {
  content: "\ea16";
}
.hj-zap-off:before {
  content: "\ea17";
}
.hj-zoom-in:before {
  content: "\ea18";
}
.hj-zoom-out:before {
  content: "\ea19";
}
