<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>nextpos</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./fonts/hjicons/style.css">
  </head>
  <body>
    <div class="main">
      <div class="nav close">
        <div id="toggleMenu" class="collap open">
          <i class="hj-chevron-right"></i>
        </div>
        <div class="brand">
          <h2>HJ <span>Burger</span></h2>
        </div>
        <div class="menu-wrap">
          <ul>
            <li rel="inicio" class="menu-item"><i class="hj-home"></i> Inicio</li>
            <li rel="menu" class="menu-item"><i class="hj-book-open"></i> Menu</li>
            <li rel="recursos" class="menu-item"><i class="hj-credit-card"></i> Recursos</li>
            <li rel="horarios" class="menu-item"><i class="hj-clock"></i> Horarios</li>
            <li rel="usuarios" class="menu-item"><i class="hj-users"></i> Usuarios</li>
            <li rel="inventario" class="menu-item"><i class="hj-package"></i> Inventario</li>
            <li rel="config" class="menu-item"><i class="hj-settings"></i> Configuración</li>
            <li rel="logOut" class="menu-item"><i class="hj-log-out"></i> Salir</li>
          </ul>
        </div>
        <div class="current-user">
          <div class="user-image">

          </div>
          <div class="username">
            <h5>{username}</h5>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="sections">
          <div id="inicio" class="section active">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Inicio</h2>
              </div>
            </div>
          </div>
          <div id="menu" class="section">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Menu</h2>
              </div>
            </div>
          </div>
          <div id="recursos" class="section">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Recursos</h2>
              </div>
            </div>
          </div>
          <div id="horarios" class="section">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Horarios</h2>
              </div>
            </div>
          </div>
          <div id="usuarios" class="section">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Usuarios</h2>
              </div>
            </div>
          </div>
          <div id="inventario" class="section">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Inventario</h2>
              </div>
            </div>
          </div>
          <div id="config" class="section">
            <div class="header-wraper">
              <div class="section-header down">
                <h2>Configuración</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/main.js" charset="utf-8"></script>
</html>
